* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app__container {
    overflow: hidden;
    width: 100%;
}

.app__body {
    padding: 0 100px;
    margin-top: 80px;
}

.app__h2 {
    font-family: 'Lexend', sans-serif;
}

.app__number {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__number strong {
    font-weight: 700;
    margin: 0 10px;
}

.app__number img {
    width: 19px;
}

.app__number a {
    margin-top: 5px;
}

.app__adver {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.app__adver div {
    width: 48%;
    position: relative;
    margin-top: 40px;
}

.app__adver div img {
    width: 100%;
    object-fit: cover;
}

.adver__padd {
    position: absolute;
}

.padd__f {
    left: 50px;
    color: white;
    font-weight: 700;
    font-size: 26px;
    bottom: 150px;
}

.padd__s {
    bottom: 120px;
    left: 50px;
    font-size: 16px;
    color: white;
}

.adver__but {
    position: absolute;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
    padding: 12px 31px !important;
    border: 1px solid #d4d4d4;
    border-radius: 28px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 15px;
    margin: 5px !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.f__below,
.s__below {
    color: black;
}

.but__below {
    background-color: black;
    color: white;
    border: none;
}

.app__head {
    margin-top: 100px;
}

.app__heading {
    font-family: 'Arimo', sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 100px;
}

.app__footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 50px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.app__footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.app__footer ul li {
    padding: 1px 5px;
}

.app__footer ul li a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.app__footer ul li a span {
    margin-left: 15px;
    margin-right: 10px;
}

.app__footer>a {
    font-size: 13px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 133px) and (max-width: 768px) {
    .hamburger-box {
        width: 26px !important;
    }
    .header__head {
        display: none !important;
    }
    .header__lacos {
        width: 114px !important;
        height: 47px !important;
    }
    .hamburger {
        padding: 0px !important;
        margin-right: 6px !important;
    }
    .header__laptop {
        padding: 10px 15px !important;
    }
    .swiper-container {
        width: 100% !important;
    }
    .app__body {
        padding: 0 15px !important;
    }
    .slide__text a {
        width: 90% !important;
    }
    .header__sea {
        width: 40px !important;
        height: 40px !important;
    }
    .app__adver div {
        width: 100% !important;
        margin-top: 15px !important;
    }
    .app__adver video {
        width: 100% !important;
    }
    .swiper-slide {
        padding: 0px !important;
        padding-top: 100px !important;
        flex-direction: column !important;
    }
    .app__heading {
        margin-bottom: 15px !important;
        font-size: 24px !important;
    }
    .adver__f {
        padding: 0 15px !important;
    }
    .adver__padd {
        font-weight: 600 !important;
        font-size: 22px !important;
    }
    .footer__fo {
        display: none !important;
    }
    .footer__wrap {
        padding: 50px 50px !important;
    }
    .show__link {
        margin-top: 25px !important;
    }
    .show__th {
        line-height: 24px !important;
        letter-spacing: 0px !important;
        font-size: 15px !important;
    }
    .show__hh {
        font-size: 24px !important;
    }
    .showbar__swiper .swiper-slide img {
        width: 100% !important;
    }
    .showbar__ins {
        padding: 0px 25px !important;
        padding-bottom: 45px !important;
        margin-bottom: 65px !important;
    }
    .showbar__inn {
        margin-top: 20px !important;
    }
    .footer__s ul li a {
        font-size: 11px !important;
    }
    .footer__th ul li a {
        font-size: 11px !important;
    }
    .footer__wrap .footer__f p {
        font-size: 17px !important;
    }
    .footer__wrap .footer__f p {
        font-size: 16px !important;
        text-align: center !important;
    }
    .footer__wrap .footer__f .sign {
        margin: 15px auto !important;
        padding: 11px 21px !important;
        margin-left: 10px !important;
    }
    .bouti {
        display: none !important;
    }
    .footer__wrap .footer__f input {
        width: 70% !important;
        font-size: 13px !important;
        padding: 11px 24px !important;
    }
    .app__footer {
        display: flex !important;
        padding: 15px 25px !important;
        flex-direction: column;
    }
    .app__footer ul li {
        margin: 7px 0px !important;
        padding: 0 !important;
    }
    .app__footer ul li a {
        font-size: 12px !important;
    }
    .app__footer>a {
        margin-top: 6px !important;
        font-size: 12px !important;
    }
    .showbar__swiper .swiper-wrapper {
        background-color: #efefef;
    }
    .showbar__swiper .swiper-button-next {
        top: unset !important;
        bottom: 45px !important;
    }
    .showbar__swiper .swiper-button-prev {
        top: unset !important;
        bottom: 45px !important;
    }
    .showbar__swiper .swiper-pagination {
        top: unset !important;
        bottom: 55px !important;
    }
    .footer__f {
        display: block !important;
        padding: 40px 20px !important;
        border-bottom: 1px solid black !important;
        margin-bottom: 9px !important;
    }
    .ff__ff {
        display: none !important;
    }
    .wrap__con {
        padding: 0px !important;
        display: block !important;
    }
    .footer__icons {
        padding: 0 10px !important;
    }
    .footer__ff {
        text-align: center !important;
    }
    .swi__up .swiper-slide {
        padding: 0px !important;
    }
    .bill__con {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .bill__con .bill__f {
        width: 100%;
        height: 100%;
        display: block;
    }
    .bill__f img {
        width: 375px !important;
        height: 375px !important;
        object-fit: cover !important;
    }
    .bill__below {
        padding: 0 12px;
    }
    .bill__below h2 {
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .bill__below p {
        font-size: 16px;
        font-family: 'Poppins';
        margin-bottom: 35px;
    }
    .bill__below .bill__s {
        text-decoration: none;
        color: white;
        padding: 12px 26px;
        background-color: black;
        border-radius: 30px;
        font-family: 'Quicksand';
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header__head {
        display: none !important;
    }
    .header__laptop {
        padding: 10px 25px !important;
    }
    .app__body {
        padding: 0 30px !important;
    }
    .slide__text a {
        width: 90% !important;
    }
    .header__lacos {
        width: 115px !important;
        height: 46px !important;
    }
    .header__sea {
        width: 40px !important;
        height: 40px !important;
    }
    .hamburger {
        width: 58px !important;
    }
    .footer__fo {
        display: none !important;
    }
    .footer__wrap {
        padding: 50px 100px !important;
    }
    .show__link {
        margin-top: 25px !important;
    }
    .show__th {
        line-height: 24px !important;
        letter-spacing: 0px !important;
        font-size: 13px !important;
    }
    .show__hh {
        font-size: 24px !important;
    }
    .showbar__swiper .swiper-slide img {
        width: 52% !important;
    }
    .showbar__ins {
        padding-right: 0px !important;
    }
    .showbar__inn {
        margin-top: 20px !important;
    }
    .footer__s ul li a {
        font-size: 11px !important;
    }
    .footer__th ul li a {
        font-size: 11px !important;
    }
    .footer__wrap .footer__f p {
        font-size: 17px !important;
    }
    .footer__wrap .footer__f p {
        font-size: 13px !important;
    }
    .footer__wrap .footer__f .sign {
        display: block !important;
        margin: 15px auto !important;
        padding: 16px 47px !important;
    }
    .bouti {
        display: none !important;
    }
    .footer__f .footer__icons ul {}
    .footer__wrap .footer__f input {
        font-size: 13px !important;
    }
    .app__footer {
        padding: 15px 50px !important;
    }
    .wrap__con {
        padding: unset !important;
    }
    .bill__con {
        flex-direction: row !important;
    }
    .bill__up {
        width: 60% !important;
    }
    .bill__below {
        width: 40% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

@media screen and (min-width: 1025px) {
    .header__laptop {
        display: none !important;
    }
    .header__head {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .app__body {
        padding: 0 50px;
    }
    .header__logo a img {
        width: 13vw !important;
    }
    .slide__text a {
        width: 90% !important;
    }
    .header__nav {
        padding: 0 95px !important;
    }
    .app__adver {
        padding: 0 55px !important;
    }
    .bill__con {
        flex-direction: row !important;
    }
    .bill__up {
        width: 60% !important;
    }
    .bill__below {
        width: 40% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}